body {
  width: 90%;
  margin-left: 80px;
  background-color: -webkit-linear-gradient(
    37deg,
    rgb(255, 255, 255),
    rgb(219, 148, 115)
  );
  background-image: url("image-fon1.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: rgb(17, 15, 95);
}
.pFirst-bold {
  font-weight: bold;
}

header p {
  background-color: #ff0;
}
a {
  font-size: 16px;
}
a:visited {
  color: #000;
  background-color: #fff;
  text-decoration: underline;
  font-weight: normal;
}
a:hover {
  color: aliceblue;
  text-decoration: none;
  background-color: rgb(90, 19, 182);
}
blockquote {
  margin-left: 440px;
  margin-top: 80px;
  margin-bottom: 80px;
}
q {
  font-size: 160%;
  background-color: rgb(224, 224, 224);
  border-left: 3px firebrick solid;
  padding-left: 30px;
  font-style: italic;
}
.qVillagers {
  border-left: 3px rgb(65, 34, 178) solid;
}
.qFarmer {
  border-left: 3px rgb(29, 126, 10) solid;
}
.Good,
.Bad {
  text-transform: uppercase;
}
.Good {
  color: green;
}
.Bad {
  color: red;
}
.table-background {
  background-color: grey;
}
.item-good {
  background: url("Item1.png") no-repeat 300px;
  background-size: contain;
  padding: 10px 10px 10px 10px;
}
.item-mal {
  background: url("Item2.png") no-repeat 300px;
  background-size: contain;
  padding: 10px 10px 10px 10px;
}
.item-cat {
  background: url("Item3.png") no-repeat 300px;
  background-size: contain;
  padding: 10px 10px 10px 10px;
}
.floating {
  float: right;
  margin: 0 0 1em 1em;
}
.floating_left {
  float: left;
  margin-right: 10px;
}

section {
  margin-top: 60px;
  margin-bottom: 80px;
}
.section_people {
  display: inline;
}
ul {
  font-size: 18px;
}
